@{
    ViewData["Title"] = "About Me";
}
<h1>@ViewData["Title"]</h1>

<p>
    I'm Michael! I recently graduated from Southern New Hampshire University with a B.S in Computer Science.
    I am an aspiring software developer aiming to explore many different avenues of development-whether it's full-stack web applications, desktop applications and utilities, games, backend development, or any other emerging fields, I am simply glad to be able to keep learning and improving.
</p>