@{
    ViewData["Title"] = "Home Page";
}

<div id="intro" class="text-center">
    <h1 class="display-4">Hi. I'm Michael.</h1>
    <p>Welcome to my Portfolio! (Under Construction, Deployed with GitHub Actions)</p>
    <section>
        <h2>Projects</h2>
        <p>(Coming Soon!)</p>        
    </section>
    
</div>